body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.253);
}
header{
    text-align: center;
    padding: 1rem;
    color: whitesmoke;
    text-shadow: 1px 1px  10px black;
}
main{
    padding: 1rem;
}
footer{
    text-align: right;
    padding: 1rem;
    text-decoration: none;
    color: purple;
}
.char-line{
    display: flex;
    justify-content: center;
}
.char-frame{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
